## .NET Core / C# / Visual Studio
bin/
obj/
*.user
*.userosscache
*.sln.docstates
.vs/

## Visual Studio Code
.vscode/
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json

## JetBrains (Rider, IntelliJ)
.idea/
*.iws
*.iml
*.ipr

## Temporary files
*.log
*.p12
*.tmp
*.temp

## OS generated
.DS_Store
Thumbs.db

## Infrastructure / Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

## Java / Maven (Cleanup from previous stack)
target/
.mvn/
mvnw
mvnw.cmd
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
nbproject/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/
